/* -------------Modal--------------- */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index:1010;
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}



/*-------------- LOCATION CONTENT--------------- */

.location-content {
  margin:8vh auto !important;
  width:inherit;
  text-align: center;
  background-color: rgb(214, 199, 199);
  color: black;
}
.location-button {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.location-button img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 grey;
  cursor: pointer;
}
.location-button p{
  display: contents;
  margin:0;
  padding: 0;
}

/*----------------- CART CONTENT-------------------- */

.cart-content {
  width: 100%;
  height: 100vh;
  background-color: rgb(238, 226, 226);
  overflow: auto;
  right:0;
  z-index: 1030;
  color: black;
  padding: 0 !important;
  font-size: x-large;
  /* transition: all 2s linear ease-in-out; */
}
/* .active{
      transform:translateX(0,400px);
  }
  .deactive{
      transform: translateX(400px,0);
  } */

.cartcontent-button {
  display: flex;
  background-color: black;
  color: white;
  justify-content: space-between;
  width: 100%;
  border: none;
  height: 8vh;
  align-items: center;
  padding: 4%;
  font-size: inherit;
  font-weight: 600;
  font-family: cursive;
  cursor: pointer;
}

.shopping-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #db6400;
  color: white;
  width: 100%;
  border: none;
  height: 8vh;
  padding: 4%;
  font-size: inherit;
  font-weight: 600;
  font-family: cursive;
  bottom: 0;
  cursor: pointer;
}
.cart-component {
  display: flex;
  flex-flow: column wrap;
  background-color: white;
  border-bottom: 1px solid grey;
}
.cart-componentContent {
  display: flex;
  flex-flow: row wrap;
}
.cart-component img {
  width: 80px;
  height: 80px;
  margin: 10px;
}
.cart-componentButton {
  margin-left: 60px;
}
.cart-componentButton button {
  justify-content: space-around;
  background: transparent;
  width:8%;
  font-size: inherit;
  border-radius: 50%;
  border: 1px solid #db6400;
  color: #db6400;
  margin: 5px;
}
.price-details {
  color: grey;
  font-size: 12px;
  margin-left: 30px;
}
.cart-total {
  background-color: white;
  border-bottom: 1px solid grey;
  margin-bottom: 12px;
  padding-left: 20px;
}
.checkout-button {
  display: flex;
  justify-content: space-between;
  background-color: #db6400;
  color: white;
  width: 100%;
  border: none;
  height: 8vh;
  font-size: inherit;
  font-weight: 600;
  font-family: cursive;
  cursor: pointer;
}
.no-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  height: 84vh;
  align-items: center;
}
.cart-block {
  height: 58vh;
  overflow: auto;
}
/*------------ MENUBAR CONTENT---------------- */
.menubar-content{
  background-color: khaki;
  width:100vw;
  height:100vh;
  position: fixed;
  z-index:1020;
  margin-left: -20px;
  color: black;
  font-size: x-large;
}
.welcome{
  background-color: rgb(180, 179, 175);
  font-weight: 500;
  padding:0 20px;
  margin:0 -20px;
  
}

/*-------------------- SEARCH CONTENT ---------------------*/
.search-content {
  margin:15vh auto;
  z-index: 1050;
  background-color: white;
  border-radius: 5px;
  width:90%;
  color: black;
}
.search-productContent {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  cursor: pointer;
}

.search-productName {
  margin: 0 50px 0 20px;
}
.search-img {
  height: 40px;
  width: 40px;
  margin: 3px 10px;
}
.active {
  background-color: rgb(0, 195, 255);
}
.inactive {
  background-color: rgb(238, 229, 229);
}
.trending-template {
  display: flex;
  align-items: center;
  background-color: rgb(238, 229, 229);
  height: 40px;
  border-top: 1px solid rgb(238, 233, 233);
  border-bottom: 1px solid rgb(238, 233, 233);
  color: #999;
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 30px;
  margin: 0 -20px;
}
/* ------------AUTHENTICATION CONTENT------------ */
.authentication-content {
  position: fixed;
  width: 250px;
  box-shadow: 0 1px 2px 0 grey;
  background-color: whitesmoke;
  float: right;
  right: 12vw;
  z-index: 1010;
  top: 8vh;
  padding:0 0 20px 0;
}
.authentication-button {
  background-color: #db6400;
  color: white;
  border: none;
  padding: 10px 30px;
  margin: 8px 40px;
  border-radius: 5px;
  font-weight: 600;
}

.authentication-content div {
  border-bottom: 1px solid rgb(226, 224, 224);
}
.authentication-content p {
  color: #0f0f11;
  padding-left: 30px;
  font-weight: 500;
  cursor: pointer;
}
.authentication-content span {
  padding-left: 10px;
}

/*-------------REGISTER & LOGIN---------------- */

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(190, 169, 169, 0.801);
  width: 100%;
  height: 100vh;
  overflow: auto;
  margin:auto;
}

.form {
  display: flex;
  flex-flow: column wrap;
  width: 80%;
  background-color: rgb(160, 167, 163);
  font-size: x-large;
  margin:auto;

}
.form h5{
  padding:10px;
}
.form span{
  padding:10px;
}
.form >div{
  margin: 20px 0;
}

.alert {
  font-size: 13px;
  color: red;
  font-weight: 500;
  margin: 1px 0 0 0;
}

.form input {
  display: flex;
  justify-content: center;
  width: 100%;
  height:5vh;
  border-radius: 10px;
}

.form button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid grey;
  border-radius: 20px;
  margin:15px 0;
  font-weight: 800;
}


.login-butn {
  color: rgb(6, 62, 95);
  padding: 0 5px;
  cursor: pointer;
}
.login-formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(190, 169, 169, 0.801);
  width: 100%;
  height:100vh;
  overflow: auto;
  margin:auto;
}
.login-formContainer button {
  margin: 15px 0;
}
.login-formContainer button:focus {
  outline: 0 !important;
  display: none;
}

.popup-alert {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 50px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px #333;
  position: fixed;
  z-index: 20;
}
/* --------------RESPONSIVE DESIGN----------------------- */

@media screen and (min-width:1000px){
/* ------LOCATION CONTENT----------- */
.location-content{
  width:30vw;
  margin:8vh 8vw !important;
}
/* ----------SEARCH CONTENT------------ */
.search-content{
  margin:8vh auto !important ;
  width:80%;
}
.cart-content{
  width:35%;
  margin-right:0 !important;
}
/* -----Register---- */



}






