/* Header Items */
.header {
  display: flex;
  flex-flow: column wrap;
  background-color: #0f0f11;
  position: sticky;
  top: 0;
  width: 100vw;
  color: white;
  white-space: nowrap;
  left: 0;
  right: 0;
  z-index: 1000;
}
.first-header {
  display: flex;
  height: 8vh;
  line-height: 8vh;
  justify-content: space-between;
  text-align: left;
}
/* -------LOGO----------- */
.image img {
  width: 40px;
  height: 40px;
  margin: 2px;
}
.image {
  display: none;
  border-right: 1px solid #495464;
  cursor: pointer;
}
.image:hover {
  background-color: #393e46;
  cursor: pointer;
}
/* -----LOCATION------- */

.location {
  display: flex;
  color: white;
  padding: 0 20px;
}
.location:hover {
  background-color: #393e46;
  cursor: pointer;
}
.element {
  line-height: 8vh;
}
.element::after {
  content: " ";
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
  margin-left: 9px;
}
/* ----SEARCH BAR--------- */
.wrap {
  display: flex;
  width: 100%;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  height: 5vh;
  margin: 14px 0 3px 0;
}
.wrap:hover {
  z-index: 1012;
}
.wrap input:focus,
.searchButton:focus {
  z-index: 1012;
}
input {
  width: 100%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
input:focus {
  cursor: auto;
  padding: 0 8px;
}
.searchButton {
  cursor: pointer;
  font-size: 20px;
  background-color: #f4f4f2;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
/* -----AUTHENTICATION------- */
.authentication {
  display: none;
  padding: 0 20px;
  border-right: 1px solid #495464;
}
.authentication:hover {
  background-color: #393e46;
  cursor: pointer;
}

.signUp::after {
  content: " ";
  position: relative;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
  margin: 1px 15px;
}
/*----------MY CART-------------  */
.cart {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  line-height: 8vh;
  padding: 0 3px;
  cursor: pointer;
}
.first-header .cart h4 {
  display: none;
}
.cart:hover {
  background-color: #393e46;
  cursor: pointer;
}
.cartIcon {
  padding-right: 20px;
}
/* -----CATEGORY BUTTON ---------*/
.category-btn {
  margin: 0 1%;
}
.category-btn button {
  display: block;
  height: 100%;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.display-block {
  display: block;
}

.display-none {
  display: none;
}
/* --------CART WEB VIEW------------- */
.cart-webView {
  display: none;
}

/* ----------RESPONSIVE DESIGN----------------- */
@media screen and (min-width: 1000px) {
  /* -------------HEADER------------ */
  .header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto !important;
  }
  .first-header {
    justify-content: inherit;
  }
  /* ----MENU BAR----- */
  .menubar {
    display: none;
  }
  /* -----------CATEGORY BUTTON------------------ */
  .category-btn {
    display: none;
  }
  /* -------LOGO----------- */
  .image {
    display: block;
  }

  /* ------------------SEARCH BAR------------- */
  .wrap {
    width: auto;
    margin: auto;
  }
  .wrap:hover {
    z-index: 1012;
  }
  .wrap input:focus,
  .searchButton:focus {
    z-index: 1012;
  }
  /* ------------CART----------- */
  .first-header .cart {
    display: none;
  }

  .cart-webView {
    display: block;
  }
  .cart h4 {
    display: block;
  }
  /* --------------AUTHENTICATION----------- */
  .authentication {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
}
